---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>MS Snedker</title>
	</head>
	<body>
<<<<<<< HEAD
		<h1>MS Snedker</h1>
=======
		<h1>MS Snedker
		</h1>
>>>>>>> aa529c7ca278793cf631e34778bd5dde1c5e052a
	</body>
</html>
