---
import Hamburger from "./Hamburger.astro"
import Navigation from "./Navigation.astro"
import { ClientRouter } from 'astro:transitions';
---
<ClientRouter />
<header>
    <nav>
        <Hamburger />
        <Navigation />
    </nav>
</header>